<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <display-name>ITSD Sample Contact Web Application</display-name>
	<servlet>
		<servlet-name>itsd</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/master-config.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>userFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<servlet-mapping>
		<servlet-name>itsd</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
	    <web-resource-collection>
	      <web-resource-name>Some Resource</web-resource-name>
	      <url-pattern>/</url-pattern>
	      <http-method>GET</http-method>
	      <http-method>POST</http-method>
	    </web-resource-collection>
		<auth-constraint>
	      <role-name>*</role-name>
	    </auth-constraint>
	</security-constraint>
	<security-constraint><!--Exclude css and images here -->
	   <web-resource-collection>
	      <web-resource-name>Exclude from Security</web-resource-name>
	      <url-pattern>/img/*</url-pattern><!-- No security for images -->
	      <url-pattern>/css/*</url-pattern><!-- No security for css -->
	      <url-pattern>/js/*</url-pattern><!-- No security for js -->
	      <url-pattern>/bootstrap/*</url-pattern><!-- No security for bootstrap -->
	      <url-pattern>/plugins/*</url-pattern><!-- No security for plugins -->
	      <url-pattern>/users/register</url-pattern>
	   </web-resource-collection>
    </security-constraint>
	<security-role>
  	<description>Administrator</description>
  	    <role-name>admin</role-name>
    </security-role>
	<security-role>
  	<description>User</description>
  	    <role-name>user</role-name>
    </security-role>
	<login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/WEB-INF/jsp/login.jsp</form-login-page>
      <form-error-page>/WEB-INF/jsp/error.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>
